<mat-card>
  <mat-card-header>
    <mat-card-title>Calendar assignment</mat-card-title>
  </mat-card-header>
  <mat-chip-list>
    <mat-chip color="primary" selected>1 semaines</mat-chip>
    <mat-chip color="accent" selected>2 semaines</mat-chip>
    <mat-chip>1 mois </mat-chip>
    <mat-chip>tous </mat-chip>
  </mat-chip-list>
</mat-card>

<div  class="card" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Name Assignement </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Deadline XX/XX/XX</p>
      <p>Correcteur : MR XXXX</p>
    </mat-card-content>
  </mat-card>
</div>

<div  class="card" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Name Assignement </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Deadline XX/XX/XX</p>
      <p>Correcteur : MR XXXX</p>
    </mat-card-content>
  </mat-card>
</div>


