<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Assignement</mat-card-title>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="Nom de l'assignement" disabled>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Correcteur" value="Nom Prenom" disabled>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-form-field class="example-full-width">
            <input matInput="time" placeholder="DeadLine" value="12/12/12" disabled>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Description de l'assignement
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat convallis scelerisque. Nulla quis neque ac nulla porta consectetur ut semper diam. In hac habitasse platea dictumst. Sed tempor facilisis aliquet. Aliquam non lorem in diam cursus viverra. Donec fermentum mollis nulla, eget elementum nunc gravida faucibus. Integer sollicitudin sagittis quam, tempus dictum nunc varius ut. Quisque finibus ligula a ultrices dictum.</p>
      </mat-expansion-panel>


    </mat-card-header>
  </mat-card>

</div>
