<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>

        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" [(ngModel)]="evaluator.name" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" [(ngModel)]='evaluator.lastname' required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]='evaluator.email' required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]='evaluator.password' required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Organisation" [(ngModel)]='evaluator.organisation'>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select [(value)]="selectedRole">
                    <mat-option [value]="roles" *ngFor="let roles of roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

        <button mat-stroked-button color="accent" class="btn-block" (click)="onRegister()">Register</button>

        <p *ngIf="isFetching">Loading... </p>
    </mat-card>


  </div>
