<mat-toolbar color="primary">
    <span>AutoGrade</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <!-- 2 levels menu example -->
    <!-- <button mat-button [matMenuTriggerFor]="menu">Drop Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu> -->

    <button mat-button>Login</button>
    <button mat-button>Register</button>


  </mat-toolbar>

