<mat-toolbar color="primary" class="app-header">
  <span>AutoGrade</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>

    <a mat-button routerLink="submit-assignment" routerLinkActive="active">Submit Assignment</a>
    <a mat-button routerLink="view-assignment" routerLinkActive="active">View Assignment</a>
    <a mat-button routerLink="view-calendar" routerLinkActive="active">View Calendar</a>
    <a mat-button routerLink="view-score" routerLinkActive="active">Score</a>
    <a mat-button routerLink="view-program" routerLinkActive="active">View program</a>

  </span>
</mat-toolbar>
