<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Submit Assignment</mat-card-title>
      </mat-card-header>

      <form class="example-form">

          <mat-form-field class="example-full-width">
            <mat-label>Choose your groupe</mat-label>
            <mat-select (selectionChange)="changegroup()" [(value)]="groupselected">>
              <mat-option [value]="groups.id" *ngFor="let groups of group">{{groups.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-label>Choose your exercise</mat-label>
              <!-- <mat-select [(value)]="selected"> -->
              <mat-select [(value)]="assignmentselected" (selectionChange)="changeexercice()">
                      <mat-option [value]="exercice.id" *ngFor="let exercice of exercices">{{exercice.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>

        <div>
          <input type="file" (change)="onFileselected($event)">
        </div>

        <button mat-stroked-button color="accent" class="btn-block" (click)="soumission()">Send</button>

      </form>
    </mat-card>
  </div>
