<div class="login-wrapper" fxLayoutAlign="center center">
  <mat-card class = "box">
    <div class="title">
      <mat-card-title>Nom de l'assignment</mat-card-title>
      <mat-card-subtitle>DeadLine XX/XX/XX</mat-card-subtitle>
    </div>
    <mat-card-content>
      <div style="margin-left: 30px">
        <mat-progress-spinner

          class="Spinner"
          [value]="90">
        </mat-progress-spinner>
        <div style="position:relative; top: -58px; left: 40px;"> 90 </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <p>correcteur Mr XXXXXXXXX</p>
    </mat-card-footer>
  </mat-card>
</div>




