.container {
  display: flex; /* or inline-flex */
}

.CardGroup{
  margin : 10px 10px 10px 10px;
}

.CardAssignment{
  max-width: 200px;
  margin-top: 10px;
  float: right;
  margin-left: 10px;
}

.item {
  flex-grow: 0; /* default 0 */
}

.spinner{

}
.CardAssignment p {
  text-align: center;
}
